<% if (alert == "introduction_second") { %>
    <div id= "alert_Custom" class="alert alert-success" role="alert">
        hover and click episode to read book.   
    </div>
<% } %>

<% tasks.forEach((task, index) => { %>
    <table id="table_ref" class="table table-bordered table-dark">
        <tr>
            <td colspan="4"><%= task.title %></td>
        </tr>
        <tr>
            <td id="table_ref-ukuran_cover" rowspan="4" ><img width="220px" height="360px" src="<%= task.cover %>"></td>
            <td colspan="2"id="table_ref_deskripsi_table">Description<br> <%= task.description %></td>
            <td> genre :<br> <%= task.genre %></td>
            </td>
        </tr>
        <tr>
            <td id="table_ref_last_chapter_table" colspan="2">Artist : <%= task.artist %> </td>
            <td>author :  <%= task.author %> </td>
        </tr>
        <tr>
            <td id="table_ref_genre_table" colspan="2">recommendation : <%= task.recommendation %></td>
            <td>Year : <%= task.year %> </td>
        </tr>
    </table>
<% }) %>
<h3 align="center"> Episode </h3>
<% episodes.forEach((episode, index) => { %>
    <form id="test" action="/l_read_book" method="post">
        <input type="hidden" name ="link_episode"value="<%= episode.html_book %>">
        <button id="button_episode"><%= episode.title_episode %></button>
    </form>
<% }) %>
